body {
	--lvzwebdesktop-default-statusbar-theme: test;
	--lvzwebdesktop-theme-statusbar-test: true;
}

.web-desktop-statusbar {
	display : block;
	overflow: hidden;
	height: 20px;
	background-color: #ccc;
}

.web-desktop-statusbar > div {
	display: block;
	margin: 2px;
	float: left;
	overflow: hidden;
	border-width: 1px;
	border-style: solid;
	border-right-color: #ddd;
	border-bottom-color: #ddd;
	border-left-color: #666;
	border-top-color: #666;
}
