body {
	--lvzwebdesktop-default-menu-theme: test;
	--lvzwebdesktop-theme-menu-test: true;
	--lvzwebdesktop-default-menubar-theme: test;
	--lvzwebdesktop-theme-menubar-test: true;
}

/* 25B2 UP */
/* 25BC DOWN */
.test.web-desktop-menu {
	position: absolute;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #ddd;
	border-width: '1px';
	border-style: 'solid';
	border-top-color: #fff;
	border-left-color: #fff;
	border-right-color: #666;
	border-bottom-color: #666;
	box-shadow: 0px 0px 5px 0px #000;
	cursor: default;
	z-index: 14;
}

.test.web-desktop-menu > li.web-desktop-separator {
	border-right: 0px none;
	border-left: 0px none;
	border-top: 1px solid #ccc;
	height: -1px;
	line-height: 1px;
	border-bottom: 1px solid #fff;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.test.web-desktop-menu > li.web-desktop-separator:hover {
	background-color: #ddd;
}

.test.web-desktop-menu > li.wd-menu-unchecked > span:first-child {
	color: #aaa;
}

.test.web-desktop-menu > li .submenuicon {
	float: right;
}

.test.web-desktop-menu li {
	margin: 0;
	padding: 2px 10px;
}

.test.web-desktop-menu > li.disabled {
	color: #aaa;
}

/** .web-desktop-menu li:hover **/
.test.web-desktop-menu li.selected
{
	background-color: #ffaa00;
}

.test.web-desktop-menu > .web-desktop-menu-scroll-up-button {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0;
	text-align: center;
	background-color: #ddd;
	border-bottom: 1px solid #777;
	overflow: hidden;
}
.test.web-desktop-menu > .web-desktop-menu-scroll-up-button::before {
	content: "\25B2";
}

.test.web-desktop-menu > .web-desktop-menu-scroll-down-button {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0;
	text-align: center;
	background-color: #ddd;
	border-top: 1px solid #777;
	overflow: hidden;
}
.test.web-desktop-menu > .web-desktop-menu-scroll-down-button::before {
	content: "\25BC";
}

.test.web-desktop-menu > li > ul { display: none; }

.test.web-desktop-menu > li:hover > ul { display: block; }

.test.web-desktop-menu !li > ul::after {
	/* content: "▶"; */
	content: " ▸";
}

/* Styles for radio buttons and checkboxes on menus */

.test.web-desktop-menu > li > label {
	display: block;
}


.test.web-desktop-menu > li > label > input[type=checkbox],
.test.web-desktop-menu > li > label > input[type=radio]
{
	display: none;
}

/* Styles for checkboxes */
.test.web-desktop-menu > li > label > input[type=checkbox] + span::before {
	/* content: "✓ "; */
	/* content: "\2714 "; */
	content: "\2713 ";
	color: #aaa;
	font-weight: bold;
}

.test.web-desktop-menu > li > label > input[type=checkbox]:checked + span::before {
	color: #000;
	font-weight: bold;
}

/* Styles for radiobuttons */
.test.web-desktop-menu > li > label > input[type=radio] + span::before {
	content: "\25CF ";
	/* content: "\2022 "; */
	/* content: "\23FA "; */
	color: #aaa;
	font-weight: bold;
}

.test.web-desktop-menu > li > label > input[type=radio]:checked + span::before {
	color: #000;
	font-weight: bold;
}

/** MENUBAR **/

.test.web-desktop-menubar {
	overflow: hidden;
	list-style-type: none;
	background-color: #ddd;
	padding: 0;
	margin: 0;
}

.test.web-desktop-menubar > li {
	display: block;
	float: left;
}

.test.web-desktop-menubar > li.disabled {
	color: #aaa;
}

.test.web-desktop-menubar > li > span {
	display: block;
	padding: 0 10px;
	cursor: default;
}

.test.web-desktop-menubar > li > span:hover,
.test.web-desktop-menubar > li.opened > span {
	background-color: #ccc;
}

.test.web-desktop-menubar .web-desktop-menu {
	display: none;
}

.test.web-desktop-menubar > li.opened > .web-desktop-menu {
	display: block;
}
