/* Styles for touch elements */

.touch-circle {
	background-color: #069;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	position: absolute;
	z-index: 1100;
}

.touch-circle.NW-resize { cursor: nw-resize; }
.touch-circle.N-resize { cursor: n-resize; }
.touch-circle.NE-resize { cursor: ne-resize; }

.touch-circle.W-resize { cursor: w-resize; }
.touch-circle.E-resize { cursor: e-resize; }

.touch-circle.SW-resize { cursor: sw-resize; }
.touch-circle.S-resize { cursor: s-resize; }
.touch-circle.SE-resize { cursor: se-resize; }

/** All items that need to disable selection **/
.web-desktop-menu,
.web-desktop-window .title-container,
.web-desktop-taskbar,
.web-desktop-panel,
.touch-circle,
.web-desktop-icon,
.web-desktop-menubar
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.disableVail {
	display: none;
	position: absolute;
	background-color: rgba(0,0,0,0.2);
	top: 0px;
}

.web-desktop-vail {
	position: absolute;
	display: none;
	z-index: 1000;
	background-color: rgba(0,0,0,0.3);
}

/* Invisible elements */
.web-desktop-vfs
{
	display: none;
}
