body {
	--lvzwebdesktop-default-theme: wxp;
	--lvzwebdesktop-theme-wxp: true;

	--lvzwebdesktop-default-window-theme: wxp;
	--lvzwebdesktop-theme-window-wxp: true;
}

/* ### WINDOW ### */

.wxp.web-desktop-window {
	background-color : #f0efe0;
	--button-layout: menu:minimize,maximizeRestore,close;
	overflow: hidden;
	z-index: 8;
	border: 1px solid #014cd0;
	border-bottom: 1px solid #00138c;
	border-right: 1px solid #00138c;
	border-radius: 8px 8px 0 0;
}

.wxp.web-desktop-window.hasfocus {
	/* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8); */
}

.wxp.web-desktop-window .body-container {
	overflow: auto;
}

.wxp.web-desktop-window > .left-border-container {
	overflow: hidden;
	float: left;
	background-color: #2b90ff;
	box-shadow: 2px 0  2px 0 #0731d8 inset,
	0 2px  2px 0 #0731d8 inset
	;
}

.wxp.web-desktop-window > .left-border-container > .left-top-border-box {
	overflow: hidden;
	cursor: nw-resize;
	background-color: #2b90ff;
	width: 3px;
	height: 3px;
}

.wxp.web-desktop-window  > .left-border-container > .left-border-top-corner {
    overflow: hidden;
    cursor: nw-resize;
    width: 3px;
    height: 26px;
}

.wxp.web-desktop-window  > .left-border-container >  .left-border-center {
	overflow: hidden;
	cursor: w-resize;
	width: 3px;
}

.wxp.web-desktop-window > .left-border-container > .left-border-bottom-corner {
    overflow: hidden;
    cursor: sw-resize;
    width: 3px;
    height: 25px;
}

.wxp.web-desktop-window > .left-border-container > .left-bottom-border-box {
	overflow: hidden;
	cursor: sw-resize;
	width: 3px;
	height: 3px;
}

.wxp.web-desktop-window > .center-container {
	overflow: hidden;
	float: left;
}

.wxp.web-desktop-window > .center-container > .top-border-container {
	overflow: hidden;
	background-color: #2b90ff;
}

.wxp.web-desktop-window > .center-container > .top-border-container > .top-border-left-corner {
	overflow: hidden;
	float: left;
	cursor: nw-resize;
	width: 25px;
	height: 2px;
}

.wxp.web-desktop-window > .center-container > .top-border-container > .top-border-center {
	overflow: hidden;
	float: left;
	cursor: n-resize;
	height: 2px;
}

.wxp.web-desktop-window > .center-container > .top-border-container > .top-border-right-corner {
	overflow: hidden;
	float: right;
	cursor: ne-resize;
	width: 25px;
	height: 2px;
}

.wxp.web-desktop-window > .center-container > .bottom-border-container {
	overflow: hidden;
	background-color: #001da0;
	box-shadow: 0 2px 2px 0 #0048f1 inset;
}

.wxp.web-desktop-window > .center-container > .bottom-border-container > .bottom-border-left-corner {
	overflow: hidden;
	float: left;
	cursor: sw-resize;
	width: 25px;
	height: 3px;
}

.wxp.web-desktop-window > .center-container > .bottom-border-container > .bottom-border-center {
	overflow: hidden;
	float: left;
	cursor: s-resize;
	height: 3px;
}

.wxp.web-desktop-window > .center-container > .bottom-border-container > .bottom-border-right-conrner {
	overflow: hidden;
	float: right;
	cursor: se-resize;
	width: 25px;
	height: 3px;
}

.wxp.web-desktop-window > .right-border-container {
	overflow: hidden;
	float: right;
	background-color: #001da0;
	box-shadow: 2px 0  2px 0 #0048f1 inset,
	0 2px  2px 0 #0048f1 inset
	;
}

.wxp.web-desktop-window > .right-border-container > .right-top-border-box {
	overflow: hidden;
	cursor: ne-resize;
	width: 3px;
	height: 3px;
}

.wxp.web-desktop-window > .right-border-container > .right-top-border-corner {
	overflow: hidden;
	cursor: ne-resize;
	width: 3px;
	height: 25px;
}

.wxp.web-desktop-window > .right-border-container > .right-border-center {
	overflow: hidden;
	cursor: e-resize;
	width: 3px;
}

.wxp.web-desktop-window > .right-border-container > .right-border-bottom-corner {
	overflow: hidden;
	cursor: se-resize;
	width: 3px;
	height: 25px;
}

.wxp.web-desktop-window > .right-border-container > .right-bottom-border-box {
	overflow: hidden;
	cursor: se-resize;
	width: 5px;
	height: 5px;
}

.wxp .window-title-control {
	border-width: 0px;
	border-style: none;
	background-image: url( '../icons/wxp.png' );
	background-color: transparent;
	background-repeat: no-repeat;
	margin-right: 1px;
	height: 21px;
	width: 21px;
}

.wxp.web-desktop-window.hasfocus .window-close-btn {
	background-position: 0px -84px;
}

.wxp.web-desktop-window .window-close-btn:hover {
	background-position: -21px -84px;
}

.wxp.web-desktop-window.hasfocus .window-close-btn.window-control-m-down {
	background-position: -42px -84px;
}

.wxp.web-desktop-window .window-close-btn {
	background-position: -63px -84px;
}

.wxp.web-desktop-window.hasfocus .window-minimize-btn {
	background-position: 0px -63px;
}

.wxp.web-desktop-window .window-minimize-btn:hover {
	background-position: -21px -63px;
}

.wxp.web-desktop-window.hasfocus .window-minimize-btn.window-control-m-down {
	background-position: -42px -63px;
}

.wxp.web-desktop-window .window-minimize-btn {
	background-position: -63px -63px;
}

.wxp.web-desktop-window.hasfocus .window-maximize-btn {
	background-position: 0px -42px;
}

.wxp.web-desktop-window .window-maximize-btn:hover {
	background-position: -21px -42px;
}

.wxp.web-desktop-window.hasfocus .window-maximize-btn.window-control-m-down {
	background-position: -42px -42px;
}

.wxp.web-desktop-window .window-maximize-btn {
	background-position: -63px -42px;
}

.wxp.web-desktop-window.hasfocus .window-restore-btn {
	background-position: 0px -21px;
}

.wxp.web-desktop-window .window-restore-btn:hover {
	background-position: -21px -21px;
}

.wxp.web-desktop-window.hasfocus .window-restore-btn.window-control-m-down {
	background-position: -42px -21px;
}

.wxp.web-desktop-window .window-restore-btn {
	background-position: -63px -21px;
}

.wxp.web-desktop-window.hasfocus .window-menu-btn {
	background-position: 0px 0px;
	--double-click: "this.close();";
}

.wxp.web-desktop-window .window-menu-btn:hover {
	background-position: -21px 0px;
}

.wxp.web-desktop-window.hasfocus .window-menu-btn.window-control-m-down {
	background-position: -42px 0px;
}

.wxp.web-desktop-window .window-menu-btn {
	background-position: -63px 0px;
}

/*** TITLE ***/

.wxp .title-container {
	background-color: #0055ea;
	color: #aaa;
	height: 20px;
	padding: 3px 2px 3px 2px;
	line-height: 26px;
	overflow: hidden;
	cursor: default;
	bottom-border: 1px solid #0245d0;
	box-shadow: 0 -10px 10px 0 #0365f1 inset ,
	0 3px 3px 0 #2b90ff inset;
}
/* 0365f1 */
/* 2b90ff */
.wxp.web-desktop-window.hasfocus .title-container {
	background-color: #22d;
	color: #fff;
}

.wxp .title-left-controls {
	float: left;
	overflow: hidden;
}

.wxp .title-right-controls {
	float: right;
	overflow: hidden;
}

.wxp .title-center {
	overflow: hidden;
	float: left;
	text-align: left;
	font-size: 14px;
	font-family: Tahome, Genveva, sans-serif;
	font-weight: bold;
}

/*** LEFT BORDER ***/
