body {
	--lvzwebdesktop-default-theme: w10;
	--lvzwebdesktop-theme-w10: true;
}

/* ### WINDOW ### */

.w10.web-desktop-window {
	background-color: transparent;
	--button-layout: menu:minimize,maximizeRestore,close;
	overflow: hidden;
	z-index: 8;

	--use-title-body-container: yes;
	--border-width: 5px;
	--border-weight: 0px;
	--border-corner-width: 25px;
	--border-corner-height: 25px;
}

/* background-color : #ebebeb; */
/* border: 1px solid #dadada; */
/* background-color : #6badf6; */
/* border: 1px solid #5284bc; */

.w10.web-desktop-window.hasfocus {
	
}

.w10.web-desktop-window .body-container {
	overflow: auto;
	background-color: #fff;
}

.w10.web-desktop-window > .left-border-container {
	overflow: hidden;
	float: left;
}

.w10.web-desktop-window > .left-border-container > .left-top-border-box {
	overflow: hidden;
	cursor: nw-resize;
}

.w10.web-desktop-window  > .left-border-container > .left-border-top-corner {
    overflow: hidden;
    cursor: nw-resize;
}

.w10.web-desktop-window  > .left-border-container >  .left-border-center {
	overflow: hidden;
	cursor: w-resize;
}

.w10.web-desktop-window > .left-border-container > .left-border-bottom-corner {
    overflow: hidden;
    cursor: sw-resize;
}

.w10.web-desktop-window > .left-border-container > .left-bottom-border-box {
	overflow: hidden;
	cursor: sw-resize;
}

.w10.web-desktop-window > .center-container {
	overflow: hidden;
	float: left;
	box-shadow: -5px 0px 4px -5px #000,
	5px 0px 4px -5px #000;
}

.w10.web-desktop-window > .center-container > .top-border-container {
	overflow: hidden;
}

.w10.web-desktop-window > .center-container > .top-border-container > .top-border-left-corner {
	overflow: hidden;
	float: left;
	cursor: nw-resize;
}

.w10.web-desktop-window > .center-container > .top-border-container > .top-border-center {
	overflow: hidden;
	float: left;
	cursor: n-resize;
}

.w10.web-desktop-window > .center-container > .top-border-container > .top-border-right-corner {
	overflow: hidden;
	float: right;
	cursor: ne-resize;
}

.w10.web-desktop-window > .center-container > .bottom-border-container {
	overflow: hidden;
}

.w10.web-desktop-window > .center-container > .bottom-border-container > .bottom-border-left-corner {
	overflow: hidden;
	float: left;
	cursor: sw-resize;
}

.w10.web-desktop-window > .center-container > .bottom-border-container > .bottom-border-center {
	overflow: hidden;
	float: left;
	cursor: s-resize;
}

.w10.web-desktop-window > .center-container > .bottom-border-container > .bottom-border-right-conrner {
	overflow: hidden;
	float: right;
	cursor: se-resize;
}

.w10.web-desktop-window > .center-container > .body-title-container {
	border: 1px solid #5284bc;
	box-shadow: 0px 0px 5px #000;
}

.w10.web-desktop-window > .right-border-container {
	overflow: hidden;
	float: right;
}

.w10.web-desktop-window > .right-border-container > .right-top-border-box {
	overflow: hidden;
	cursor: ne-resize;
}

.w10.web-desktop-window > .right-border-container > .right-top-border-corner {
	overflow: hidden;
	cursor: ne-resize;
}

.w10.web-desktop-window > .right-border-container > .right-border-center {
	overflow: hidden;
	cursor: e-resize;
}

.w10.web-desktop-window > .right-border-container > .right-border-bottom-corner {
	overflow: hidden;
	cursor: se-resize;
}

.w10.web-desktop-window > .right-border-container > .right-bottom-border-box {
	overflow: hidden;
	cursor: se-resize;
}

.w10 .window-title-control {
	background-image: none;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
	height: 31px;
	width: 46px;
}

.w10 .window-title-control:hover {
	background-color: #eee;
}

.w10 .window-title-control.window-control-m-down {
	background-color: #bbb;
}

.w10 .window-close-btn {
	background-image: url( '../icons/win10/CloseB.png' );
	width: 45px;
}

.w10 .window-close-btn:hover {
	background-image: url( '../icons/win10/CloseW.png' );
	background-color: #ff0000;
}

.w10 .window-close-btn.window-control-m-down {
	background-image: url( '../icons/win10/CloseW.png' );
	background-color: #a00000;
}

.w10.web-desktop-window.hasfocus .window-close-btn:hover {
	background-color: #ff0000;
}

.w10.web-desktop-window.hasfocus .window-close-btn.window-control-m-down {
	background-color: #a00000;
}

.w10 .window-minimize-btn {
	background-image: url( '../icons/win10/MinimizeB.png' );
}

.w10 .window-maximize-btn {
	background-image: url( '../icons/win10/MaximizeB.png' );
}

.w10 .window-restore-btn {
	background-image: url( '../icons/win10/RestoreB.png' );
}

.w10 .window-menu-btn {
	--double-click: "this.close();";
	background-image: none !important;
	background-color: transparent !important;
	box-shadow: none !important;
	border: none !important;
}

/*** TITLE ***/

.w10 .title-container {
	background-color : #fff;
	color: #000;
	height: 31px;
	line-height: 31px;
	overflow: hidden;
	cursor: default;
}

.w10.web-desktop-window.hasfocus .title-container {
	color: #000;
}

.w10 .title-left-controls {
	float:left;
	overflow: hidden;
}

.w10 .title-right-controls {
	float:right;
	overflow: hidden;
}

.w10 .title-center {
	overflow: hidden;
	float:left;
	text-align: left;
	font-size: 14px;
	font-family: Tahome, Genveva, sans-serif;
	font-weight: normal;
}

/*** LEFT BORDER ***/
.web-desktop.window > .left-border-container {
	overflow: hidden;
	float: left;
}

.w10.web-desktop-window > .left-border-container > .left-top-border-box,
.w10.web-desktop-window > .left-border-container > .left-bottom-border-box {
	width: 0px;
}

.web-desktop.window > .right-border-container {
	overflow: hidden;
	float: right;
}

.w10.web-desktop-window > .right-border-container > .right-top-border-box,
.w10.web-desktop-window > .right-border-container > .right-bottom-border-box {
	width: 0px;
}
