body {
	--lvzwebdesktop-default-theme: w8;
	--lvzwebdesktop-theme-w8: true;
}

/* ### WINDOW ### */

.w8.web-desktop-window {
	background-color : #ebebeb;
	--button-layout: menu:minimize,maximizeRestore,close;
	overflow: hidden;
	z-index: 8;
	border: 1px solid #dadada;
}

.w8.web-desktop-window.hasfocus {
	background-color : #6badf6;
	border: 1px solid #5284bc;
}

.w8.web-desktop-window .body-container {
	overflow: auto;
	border: 1px solid #57616a;
	background-color: #fff;
}

.w8.web-desktop-window > .left-border-container {
	overflow: hidden;
	float: left;
}

.w8.web-desktop-window > .left-border-container > .left-top-border-box {
	overflow: hidden;
	cursor: nw-resize;
	width: 5px;
	height: 5px;
}

.w8.web-desktop-window  > .left-border-container > .left-border-top-corner {
    overflow: hidden;
    cursor: nw-resize;
    width: 5px;
    height: 25px;
}

.w8.web-desktop-window  > .left-border-container >  .left-border-center {
	overflow: hidden;
	cursor: w-resize;
	width: 5px;
}

.w8.web-desktop-window > .left-border-container > .left-border-bottom-corner {
    overflow: hidden;
    cursor: sw-resize;
    width: 5px;
    height: 25px;
}

.w8.web-desktop-window > .left-border-container > .left-bottom-border-box {
	overflow: hidden;
	cursor: sw-resize;
	width: 5px;
	height: 5px;
}

.w8.web-desktop-window > .center-container {
	overflow: hidden;
	float: left;
}

.w8.web-desktop-window > .center-container > .top-border-container {
	overflow: hidden;
}

.w8.web-desktop-window > .center-container > .top-border-container > .top-border-left-corner {
	overflow: hidden;
	float: left;
	cursor: nw-resize;
	width: 25px;
	height: 5px;
}

.w8.web-desktop-window > .center-container > .top-border-container > .top-border-center {
	overflow: hidden;
	float: left;
	cursor: n-resize;
	height: 5px;
}

.w8.web-desktop-window > .center-container > .top-border-container > .top-border-right-corner {
	overflow: hidden;
	float: right;
	cursor: ne-resize;
	width: 25px;
	height: 5px;
}

.w8.web-desktop-window > .center-container > .bottom-border-container {
	overflow: hidden;
}

.w8.web-desktop-window > .center-container > .bottom-border-container > .bottom-border-left-corner {
	overflow: hidden;
	float: left;
	cursor: sw-resize;
	width: 25px;
	height: 5px;
}

.w8.web-desktop-window > .center-container > .bottom-border-container > .bottom-border-center {
	overflow: hidden;
	float: left;
	cursor: s-resize;
	height: 5px;
}

.w8.web-desktop-window > .center-container > .bottom-border-container > .bottom-border-right-conrner {
	overflow: hidden;
	float: right;
	cursor: se-resize;
	width: 25px;
	height: 5px;
}

.w8.web-desktop-window > .right-border-container {
	overflow: hidden;
	float: right;
}

.w8.web-desktop-window > .right-border-container > .right-top-border-box {
	overflow: hidden;
	cursor: ne-resize;
	width: 5px;
	height: 5px;
}

.w8.web-desktop-window > .right-border-container > .right-top-border-corner {
	overflow: hidden;
	cursor: ne-resize;
	width: 5px;
	height: 25px;
}

.w8.web-desktop-window > .right-border-container > .right-border-center {
	overflow: hidden;
	cursor: e-resize;
	width: 5px;
}

.w8.web-desktop-window > .right-border-container > .right-border-bottom-corner {
	overflow: hidden;
	cursor: se-resize;
	width: 5px;
	height: 25px;
}

.w8.web-desktop-window > .right-border-container > .right-bottom-border-box {
	overflow: hidden;
	cursor: se-resize;
	width: 5px;
	height: 5px;
}

.w8 .window-title-control {
	background-image: none;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
	height: 18px;
	width: 25px;
}

.w8 .window-title-control:hover {
	background-color: #5e98d8;
}

.w8 .window-title-control.window-control-m-down {
	background-color: #5b93d1;
}

.w8 .window-close-btn {
	background-image: url( '../icons/win8/CloseW.png' );
	background-color: #bcbcbc;
	width: 45px;
}

.w8 .window-close-btn:hover {
	background-color: #c00000;
}

.w8 .window-close-btn.window-control-m-down {
	background-color: #a00000;
}

.w8.web-desktop-window.hasfocus .window-close-btn {
	background-color: #c75050;
}

.w8.web-desktop-window.hasfocus .window-close-btn:hover {
	background-color: #c00000;
}

.w8.web-desktop-window.hasfocus .window-close-btn.window-control-m-down {
	background-color: #a00000;
}

.w8 .window-minimize-btn {
	background-image: url( '../icons/win8/MinimizeB.png' );
}

.w8 .window-maximize-btn {
	background-image: url( '../icons/win8/MaximizeB.png' );
}

.w8 .window-restore-btn {
	background-image: url( '../icons/win8/RestoreB.png' );
}

.w8 .window-menu-btn {
	--double-click: "this.close();";
	background-image: none !important;
	background-color: transparent !important;
	box-shadow: none !important;
	border: none !important;
}

/*** TITLE ***/

.w8 .title-container {
	color: #000;
	height: 25px;
	padding: 2px;
	line-height: 14px;
	overflow: hidden;
	cursor: default;
}

.w8.web-desktop-window.hasfocus .title-container {
	color: #000;
}

.w8 .title-left-controls {
	position: absolute;
	top: 0px;
	left: 10px;
	overflow: hidden;
}

.w8 .title-right-controls {
	position: absolute;
	top: 0px;
	right: 10px;
	overflow: hidden;
}

.w8 .title-center {
	overflow: hidden;
	margin-left: 10px;
	text-align: left;
	font-size: 14px;
	font-family: Tahome, Genveva, sans-serif;
	font-weight: normal;
}

/*** LEFT BORDER ***/
.web-desktop.window > .left-border-container {
	overflow: hidden;
	float: left;
}

.w8.web-desktop-window > .left-border-container > .left-top-border-box,
.w8.web-desktop-window > .left-border-container > .left-bottom-border-box {
	width: 0px;
}

.web-desktop.window > .right-border-container {
	overflow: hidden;
	float: right;
}

.w8.web-desktop-window > .right-border-container > .right-top-border-box,
.w8.web-desktop-window > .right-border-container > .right-bottom-border-box {
	width: 0px;
}
