body {
	--lvzwebdesktop-default-theme: test;
	--lvzwebdesktop-theme-test: true;
}

/* ### WINDOW ### */

.test.web-desktop-window {
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.6);
	background-color : #ddd;
	--button-layout : menu:minimize,maximizeRestore,close;
	--title-pos: top;
	overflow: hidden;
	z-index: 8;
	border: 1px solid rgb(255, 0, 0);
}

.test.web-desktop-window.hasfocus {
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);
}

.test.web-desktop-window .body-container {
	overflow: auto;
}

.test.web-desktop-window > .left-border-container {
	overflow: hidden;
	float: left;
}

.test.web-desktop-window > .left-border-container > .left-top-border-box {
	overflow: hidden;
	cursor: nw-resize;
	background-color: rgb(221, 221, 221);
	width: 5px;
	height: 5px;
}

.test.web-desktop-window  > .left-border-container > .left-border-top-corner {
    overflow: hidden;
    cursor: nw-resize;
    background-color: rgb(221, 221, 221);
    border-right: 1px solid rgb(255, 0, 0);
    border-bottom: 1px solid rgb(255, 0, 0);
    width: 5px;
    height: 20px;
}

.test.web-desktop-window  > .left-border-container >  .left-border-center {
	overflow: hidden;
	cursor: w-resize;
	background-color: rgb(221, 221, 221);
	border-right: 1px solid rgb(255, 0, 0);
	width: 5px;
}

.test.web-desktop-window > .left-border-container > .left-border-bottom-corner {
    overflow: hidden;
    cursor: sw-resize;
    background-color: rgb(221, 221, 221);
    border-top: 1px solid rgb(255, 0, 0);
    border-right: 1px solid rgb(255, 0, 0);
    width: 5px;
    height: 20px;
}

.test.web-desktop-window > .left-border-container > .left-bottom-border-box {
	overflow: hidden;
	cursor: sw-resize;
	background-color: rgb(221, 221, 221);
	width: 5px;
	height: 5px;
}

.test.web-desktop-window > .center-container {
	overflow: hidden;
	float: left;
}

.test.web-desktop-window > .center-container > .top-border-container {
	overflow: hidden;
}

.test.web-desktop-window > .center-container > .top-border-container > .top-border-left-corner {
	overflow: hidden;
	float: left;
	cursor: nw-resize;
	background-color: rgb(221, 221, 221);
	border-right: 1px solid rgb(255, 0, 0);
	border-bottom: 1px solid rgb(255, 0, 0);
	width: 20px;
	height: 5px;
}

.test.web-desktop-window > .center-container > .top-border-container > .top-border-center {
	overflow: hidden;
	float: left;
	cursor: n-resize;
	background-color: rgb(221, 221, 221);
	border-bottom: 1px solid rgb(255, 0, 0);
	height: 5px;
}

.test.web-desktop-window > .center-container > .top-border-container > .top-border-right-corner {
	overflow: hidden;
	float: right;
	cursor: ne-resize;
	background-color: rgb(221, 221, 221);
	border-left: 1px solid rgb(255, 0, 0);
	border-bottom: 1px solid rgb(255, 0, 0);
	width: 20px;
	height: 5px;
}

.test.web-desktop-window > .center-container > .bottom-border-container {
	overflow: hidden;
}

.test.web-desktop-window > .center-container > .bottom-border-container > .bottom-border-left-corner {
	overflow: hidden;
	float: left;
	cursor: sw-resize;
	background-color: rgb(221, 221, 221);
	border-right: 1px solid rgb(255, 0, 0);
	border-top: 1px solid rgb(255, 0, 0);
	width: 20px;
	height: 5px;
}

.test.web-desktop-window > .center-container > .bottom-border-container > .bottom-border-center {
	overflow: hidden;
	float: left;
	cursor: s-resize;
	background-color: rgb(221, 221, 221);
	border-top: 1px solid rgb(255, 0, 0);
	height: 5px;
}

.test.web-desktop-window > .center-container > .bottom-border-container > .bottom-border-right-conrner {
	overflow: hidden;
	float: right;
	cursor: se-resize;
	background-color: rgb(221, 221, 221);
	border-left: 1px solid rgb(255, 0, 0);
	border-top: 1px solid rgb(255, 0, 0);
	width: 20px;
	height: 5px;
}

.test.web-desktop-window > .right-border-container {
	overflow: hidden;
	float: right;
}

.test.web-desktop-window > .right-border-container > .right-top-border-box {
	overflow: hidden;
	cursor: ne-resize;
	background-color: rgb(221, 221, 221);
	width: 5px;
	height: 5px;
}

.test.web-desktop-window > .right-border-container > .right-top-border-corner {
	overflow: hidden;
	cursor: ne-resize;
	background-color: rgb(221, 221, 221);
	border-left: 1px solid rgb(255, 0, 0);
	border-bottom: 1px solid rgb(255, 0, 0);
	width: 5px;
	height: 20px;
}

.test.web-desktop-window > .right-border-container > .right-border-center {
	overflow: hidden;
	cursor: e-resize;
	background-color: rgb(221, 221, 221);
	border-left: 1px solid rgb(255, 0, 0);
	width: 5px;
}

.test.web-desktop-window > .right-border-container > .right-border-bottom-corner {
	overflow: hidden;
	cursor: se-resize;
	background-color: rgb(221, 221, 221);
	border-top: 1px solid rgb(255, 0, 0);
	border-left: 1px solid rgb(255, 0, 0);
	width: 5px;
	height: 20px;
}

.test.web-desktop-window > .right-border-container > .right-bottom-border-box {
	overflow: hidden;
	cursor: se-resize;
	background-color: rgb(221, 221, 221);
	width: 5px;
	height: 5px;
}

.test .window-title-control {
	border-width: 2px;
	border-style: solid;
	border-top-color: #fff;
	border-left-color: #fff;
	border-right-color: #aaa;
	border-bottom-color: #aaa;
	background-image: url( 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAACgCAYAAAAM0kxuAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH5AUHERIP4Zng+AAAANJJREFUaN7tmEEOwzAIBEnlT/D/h9JL1EOUxAavrEqeuRZWTqGeqGbbE2bmiXo/e7oFnghzRaFnn+atwQtfzWNjOewuYDrsGjoU9lm9l9JHlg5FujbSxZb/9OSXA+AUnIJTcApOwSnwzHGzNpn6IUlVPvvRqo3LTii/YFvyRNEbVJucasyuzdQqRaVGPpQNA5tgMIBTcApOwSk4BafAIqekL4hKYPyNU4Z6uL4I3MYpeARwCk4hkECcAgCw0+tc9d3nqB6g+zdqE4UCAABOwSnzfAGknG0hY58idAAAAABJRU5ErkJggg==' );
	background-color: #ddd;
	background-repeat: no-repeat;
	height: 21px;
	width: 20px;
}

.test .window-title-control.disabled {
	filter: contrast(50%);
}

.test .window-menu-btn {
	background-image: none;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.test .window-close-btn {
	background-position: 0px 0px;
}

.test .window-minimize-btn {
	background-position: 0px -120px;
}

.test .window-maximize-btn {
	background-position: 0px -80px;
}

.test .window-restore-btn {
	background-position: 0px -40px;
}

.test div.window-title-control.window-control-m-down {
	border-color: #aaa;
	border-top-color: #aaa;
	border-left-color: #aaa;
	border-right-color: #aaa;
	border-bottom-color: #aaa;
}

/*** TITLE ***/
.test .title-container {
	background-color: #0af;
	height: 25px;
	line-height: 25px;
	overflow: hidden;
	cursor: default;
}

.test .title-left-controls {
	float: left;
	overflow: hidden;
}

.test .title-right-controls {
	float: right;
	overflow: hidden;
}

.test .title-center {
	overflow: hidden;
	float: left;
	text-align: center;
	color: #fff;
	font-weight: bold;
}

/*** LEFT BORDER ***/
.web-desktop.window > .left-border-container {
	overflow: hidden;
	float: left;
}

.test.web-desktop-window > .left-border-container > .left-top-border-box,
.test.web-desktop-window > .left-border-container > .left-bottom-border-box {
	background-color: #ddd;
	width: 0px;
	border-left: 1px solid #ddd;
}

.web-desktop.window > .right-border-container {
	overflow: hidden;
	float: right;
}

.test.web-desktop-window > .right-border-container > .right-top-border-box,
.test.web-desktop-window > .right-border-container > .right-bottom-border-box {
	background-color: #ddd;
	width: 0px;
	border-right: 1px solid #ddd;
}

.test.web-desktop-window > .center-container > .window-inner-container > div > .window-inner-container-left {
	overflow: hidden;
}

.test.web-desktop-window > .center-container > .window-inner-container {
	overflow: hidden;
}
