body {
	--lvzwebdesktop-default-theme: w95;
	--lvzwebdesktop-theme-w95: true;
}

/* ### WINDOW ### */

.w95.web-desktop-window {
	background-color : #ddd;
	--button-layout: menu:minimize,maximizeRestore,close;
	overflow: hidden;
	z-index: 8;
	border: 1px solid #ddd;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
}

.w95.web-desktop-window.hasfocus {
	/* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8); */
}

.w95.web-desktop-window .body-container {
	overflow: auto;
}

.w95.web-desktop-window > .left-border-container {
	overflow: hidden;
	float: left;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #888;
}

.w95.web-desktop-window > .left-border-container > .left-top-border-box {
	overflow: hidden;
	cursor: nw-resize;
	width: 3px;
	height: 3px;
}

.w95.web-desktop-window  > .left-border-container > .left-border-top-corner {
    overflow: hidden;
    cursor: nw-resize;
    width: 3px;
    height: 26px;
}

.w95.web-desktop-window  > .left-border-container >  .left-border-center {
	overflow: hidden;
	cursor: w-resize;
	width: 3px;
}

.w95.web-desktop-window > .left-border-container > .left-border-bottom-corner {
    overflow: hidden;
    cursor: sw-resize;
    width: 3px;
    height: 25px;
}

.w95.web-desktop-window > .left-border-container > .left-bottom-border-box {
	overflow: hidden;
	cursor: sw-resize;
	width: 3px;
	height: 3px;
}

.w95.web-desktop-window > .center-container {
	overflow: hidden;
	float: left;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #888;
}

.w95.web-desktop-window > .center-container > .top-border-container {
	overflow: hidden;
}

.w95.web-desktop-window > .center-container > .top-border-container > .top-border-left-corner {
	overflow: hidden;
	float: left;
	cursor: nw-resize;
	width: 25px;
	height: 3px;
}

.w95.web-desktop-window > .center-container > .top-border-container > .top-border-center {
	overflow: hidden;
	float: left;
	cursor: n-resize;
	height: 3px;
}

.w95.web-desktop-window > .center-container > .top-border-container > .top-border-right-corner {
	overflow: hidden;
	float: right;
	cursor: ne-resize;
	width: 25px;
	height: 3px;
}

.w95.web-desktop-window > .center-container > .bottom-border-container {
	overflow: hidden;
}

.w95.web-desktop-window > .center-container > .bottom-border-container > .bottom-border-left-corner {
	overflow: hidden;
	float: left;
	cursor: sw-resize;
	width: 25px;
	height: 3px;
}

.w95.web-desktop-window > .center-container > .bottom-border-container > .bottom-border-center {
	overflow: hidden;
	float: left;
	cursor: s-resize;
	height: 3px;
}

.w95.web-desktop-window > .center-container > .bottom-border-container > .bottom-border-right-conrner {
	overflow: hidden;
	float: right;
	cursor: se-resize;
	width: 25px;
	height: 3px;
}

.w95.web-desktop-window > .right-border-container {
	overflow: hidden;
	float: right;
	border-top: 1px solid #fff;
	border-right: 1px solid #888;
	border-bottom: 1px solid #888;
}

.w95.web-desktop-window > .right-border-container > .right-top-border-box {
	overflow: hidden;
	cursor: ne-resize;
	width: 3px;
	height: 3px;
}

.w95.web-desktop-window > .right-border-container > .right-top-border-corner {
	overflow: hidden;
	cursor: ne-resize;
	width: 3px;
	height: 25px;
}

.w95.web-desktop-window > .right-border-container > .right-border-center {
	overflow: hidden;
	cursor: e-resize;
	width: 3px;
}

.w95.web-desktop-window > .right-border-container > .right-border-bottom-corner {
	overflow: hidden;
	cursor: se-resize;
	width: 3px;
	height: 25px;
}

.w95.web-desktop-window > .right-border-container > .right-bottom-border-box {
	overflow: hidden;
	cursor: se-resize;
	width: 5px;
	height: 5px;
}

.w95 .window-title-control {
	border-width: 2px;
	border-style: solid;
	border-top-color: #fff;
	border-left-color: #fff;
	border-right-color: #aaa;
	border-bottom-color: #aaa;
	background-image: url( '../icons/w95.png' );
	background-color: #ddd;
	background-repeat: no-repeat;
	height: 14px;
	width: 16px;
}

.w95 .window-menu-btn {
	border: 0px none;
	--double-click: "this.close();";
	background-position: 0px 0px;
	background-image: none;
	background-color: transparent;
}

.w95 .window-close-btn {
	margin-left: 3px;
	background-position: 0px -160px;
}

.w95 .window-close-btn.window-control-m-down {
	background-position: 0px -180px;
}

.w95 .window-minimize-btn {
	background-position: 0px -120px;
}

.w95 .window-minimize-btn.window-control-m-down {
	background-position: 0px -140px;
}

.w95 .window-maximize-btn {
	background-position: 0px -80px;
}

.w95 .window-maximize-btn.window-control-m-down {
	background-position: 0px -100px;
}

.w95 .window-restore-btn {
	background-position: 0px -40px;
}

.w95 .window-restore-btn.window-control-m-down {
	background-position: 0px -60px;
}

.w95 .window-title-control.window-control-m-down  {
	border-color: #aaa;
	border-top-color: #aaa;
	border-left-color: #aaa;
	border-right-color: #ddd;
	border-bottom-color: #ddd;
}

.w95 .window-menu-btn.window-control-m-down {
	background-position: 0px 0px;
	background-color: transparent;
	border: 0px none;
}

/*** TITLE ***/

.w95 .title-container {
	background-color: #666;
	color: #aaa;
	height: 18px;
	padding: 2px;
	line-height: 18px;
	overflow: hidden;
	cursor: default;
}

.w95.web-desktop-window.hasfocus .title-container {
	background-color: #22d;
	color: #fff;
}

.w95 .title-left-controls {
	float: left;
	overflow: hidden;
}

.w95 .title-right-controls {
	float: right;
	overflow: hidden;
}

.w95 .title-center {
	overflow: hidden;
	float: left;
	text-align: left;
	font-size: 14px;
	font-family: Tahome, Genveva, sans-serif;
	font-weight: bold;
}

/*** LEFT BORDER ***/
.web-desktop.window > .left-border-container {
	overflow: hidden;
	float: left;
}

.w95.web-desktop-window > .left-border-container > .left-top-border-box,
.w95.web-desktop-window > .left-border-container > .left-bottom-border-box {
	background-color: #ddd;
	width: 0px;
	border-left: 1px solid #ddd;
}

.web-desktop.window > .right-border-container {
	overflow: hidden;
	float: right;
}

.w95.web-desktop-window > .right-border-container > .right-top-border-box,
.w95.web-desktop-window > .right-border-container > .right-bottom-border-box {
	background-color: #ddd;
	width: 0px;
	border-right: 1px solid #ddd;
}
