body {
	--lvzwebdesktop-default-theme: w31;
	--lvzwebdesktop-theme-w31: true;
}

/* ### WINDOW ### */

.w31.web-desktop-window {
	background-color : #ddd;
	--button-layout: menu:minimize,maximizeRestore;
	--change-menu-icon: no;
	overflow: hidden;
	z-index: 8;
	border: 1px solid rgb(0, 0, 0);

	--border-width: 3px;
	--border-weight: 1px;
	--border-corner-width: 25px;
	--border-corner-height: 26px;
}

.w31.web-desktop-window.hasfocus {
	/* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8); */
}

.w31.web-desktop-window .body-container {
	overflow: auto;
}

.w31.web-desktop-window > .left-border-container {
	overflow: hidden;
	float: left;
}

.w31.web-desktop-window > .left-border-container > .left-top-border-box {
	overflow: hidden;
	cursor: nw-resize;
	background-color: rgb(221, 221, 221);
}

.w31.web-desktop-window  > .left-border-container > .left-border-top-corner {
    overflow: hidden;
    cursor: nw-resize;
    background-color: rgb(221, 221, 221);
    border-right: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
}

.w31.web-desktop-window  > .left-border-container >  .left-border-center {
	overflow: hidden;
	cursor: w-resize;
	background-color: rgb(221, 221, 221);
	border-right: 1px solid rgb(0, 0, 0);
}

.w31.web-desktop-window > .left-border-container > .left-border-bottom-corner {
    overflow: hidden;
    cursor: sw-resize;
    background-color: rgb(221, 221, 221);
    border-top: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
}

.w31.web-desktop-window > .left-border-container > .left-bottom-border-box {
	overflow: hidden;
	cursor: sw-resize;
	background-color: rgb(221, 221, 221);
}

.w31.web-desktop-window > .center-container {
	overflow: hidden;
	float: left;
}

.w31.web-desktop-window > .center-container > .top-border-container {
	overflow: hidden;
}

.w31.web-desktop-window > .center-container > .top-border-container > .top-border-left-corner {
	overflow: hidden;
	float: left;
	cursor: nw-resize;
	background-color: rgb(221, 221, 221);
	border-right: 1px solid rgb(0, 0, 0);
	border-bottom: 1px solid rgb(0, 0, 0);
}

.w31.web-desktop-window > .center-container > .top-border-container > .top-border-center {
	overflow: hidden;
	float: left;
	cursor: n-resize;
	background-color: rgb(221, 221, 221);
	border-bottom: 1px solid rgb(0, 0, 0);
}

.w31.web-desktop-window > .center-container > .top-border-container > .top-border-right-corner {
	overflow: hidden;
	float: right;
	cursor: ne-resize;
	background-color: rgb(221, 221, 221);
	border-left: 1px solid rgb(0, 0, 0);
	border-bottom: 1px solid rgb(0, 0, 0);
}

.w31.web-desktop-window > .center-container > .bottom-border-container {
	overflow: hidden;
}

.w31.web-desktop-window > .center-container > .bottom-border-container > .bottom-border-left-corner {
	overflow: hidden;
	float: left;
	cursor: sw-resize;
	background-color: rgb(221, 221, 221);
	border-right: 1px solid rgb(0, 0, 0);
	border-top: 1px solid rgb(0, 0, 0);
}

.w31.web-desktop-window > .center-container > .bottom-border-container > .bottom-border-center {
	overflow: hidden;
	float: left;
	cursor: s-resize;
	background-color: rgb(221, 221, 221);
	border-top: 1px solid rgb(0, 0, 0);
}

.w31.web-desktop-window > .center-container > .bottom-border-container > .bottom-border-right-conrner {
	overflow: hidden;
	float: right;
	cursor: se-resize;
	background-color: rgb(221, 221, 221);
	border-left: 1px solid rgb(0, 0, 0);
	border-top: 1px solid rgb(0, 0, 0);
}

.w31.web-desktop-window > .right-border-container {
	overflow: hidden;
	float: right;
}

.w31.web-desktop-window > .right-border-container > .right-top-border-box {
	overflow: hidden;
	cursor: ne-resize;
	background-color: rgb(221, 221, 221);
}

.w31.web-desktop-window > .right-border-container > .right-top-border-corner {
	overflow: hidden;
	cursor: ne-resize;
	background-color: rgb(221, 221, 221);
	border-left: 1px solid rgb(0, 0, 0);
	border-bottom: 1px solid rgb(0, 0, 0);
}

.w31.web-desktop-window > .right-border-container > .right-border-center {
	overflow: hidden;
	cursor: e-resize;
	background-color: rgb(221, 221, 221);
	border-left: 1px solid rgb(0, 0, 0);
}

.w31.web-desktop-window > .right-border-container > .right-border-bottom-corner {
	overflow: hidden;
	cursor: se-resize;
	background-color: rgb(221, 221, 221);
	border-top: 1px solid rgb(0, 0, 0);
	border-left: 1px solid rgb(0, 0, 0);
}

.w31.web-desktop-window > .right-border-container > .right-bottom-border-box {
	overflow: hidden;
	cursor: se-resize;
	background-color: rgb(221, 221, 221);
}

.w31 .window-title-control {
	border-width: 2px;
	border-style: solid;
	border-top-color: #fff;
	border-left-color: #fff;
	border-right-color: #aaa;
	border-bottom-color: #aaa;
	outline: 1px solid #000;
	background-image: url( '../icons/w31.png' );
	background-color: #ddd;
	background-repeat: no-repeat;
	height: 21px;
	width: 21px;
}

.w31 .window-menu-btn {
	--double-click: "this.close();";
	background-position: 3px 3px;
	border: 0px none;
	height: 25px;
	width: 25px;
}

.w31 .title-left-controls > .window-menu-btn:last-child { border-right: 1px solid #000; }
.w31 .title-right-controls > .window-menu-btn:first-child { border-right: 1px solid #000; }

.w31 .window-close-btn {
	background-position: 0px 0px;
}

.w31 .window-close-btn.window-control-m-down {
	background-position: 0px -20px;
}

.w31 .window-minimize-btn {
	background-position: 0px -120px;
}

.w31 .window-minimize-btn.window-control-m-down {
	background-position: 0px -140px;
}

.w31 .window-maximize-btn {
	background-position: 0px -80px;
}

.w31 .window-maximize-btn.window-control-m-down {
	background-position: 0px -100px;
}

.w31 .window-restore-btn {
	background-position: 0px -40px;
}

.w31 .window-restore-btn.window-control-m-down {
	background-position: 0px -60px;
}

.w31 .window-title-control.window-control-m-down  {
	border-color: #aaa;
	border-top-color: #aaa;
	border-left-color: #aaa;
	border-right-color: #ddd;
	border-bottom-color: #ddd;
}

.w31 .window-menu-btn.window-control-m-down {
	background-position: 3px -17px;
	background-color: #888;
	border-right-color: #888;
	border-bottom-color: #888;
}

/*** TITLE ***/

.w31 .title-container {
	background-color: #fff;
	height: 25px;
	line-height: 25px;
	overflow: hidden;
	border-bottom: 1px solid #000;
	cursor: default;
}

.w31.web-desktop-window.hasfocus .title-container {
	background-color: #a4c8f0;
}

.w31 .title-left-controls {
	float: left;
	overflow: hidden;
}

.w31 .title-right-controls {
	float: right;
	overflow: hidden;
}

.w31 .title-center {
	overflow: hidden;
	float: left;
	text-align: center;
	color: #000;
	font-weight: bold;
}

/*** LEFT BORDER ***/
.w31.web-desktop.window > .left-border-container {
	overflow: hidden;
	float: left;
}

.w31.web-desktop-window > .left-border-container > .left-top-border-box,
.w31.web-desktop-window > .left-border-container > .left-bottom-border-box {
	background-color: #ddd;
	width: 0px;
	border-left: 1px solid #ddd;
}

.w31.web-desktop.window > .right-border-container {
	overflow: hidden;
	float: right;
}

.w31.web-desktop-window > .right-border-container > .right-top-border-box,
.w31.web-desktop-window > .right-border-container > .right-bottom-border-box {
	background-color: #ddd;
	width: 0px;
	border-right: 1px solid #ddd;
}
