body {
	--lvzwebdesktop-default-theme: macos7;
	--lvzwebdesktop-theme-macos7: true;
}

/* ### WINDOW ### */

.macos7.web-desktop-window {
	background-color : #fff;
	--button-layout: close:macrestore;
	--change-menu-icon: no;
	--title-double-click: "this.toggleFold();";
	overflow: hidden;
	z-index: 8;
	border: 2px solid #666;
	box-shadow: 2px 2px 0px 0px #000;

	--border-width: 0px;
	--border-weight: 0px;
	--border-corner-width: 0px;
	--border-corner-height: 0px;
}

.macos7.web-desktop-window.hasfocus {
	border: 2px solid #000;
}

.macos7.web-desktop-window > .left-border-container {
	display: none;
}

.macos7.web-desktop-window > .center-container {
	overflow: hidden;
}

.macos7.web-desktop-window > .center-container > .top-border-container {
	display:none;
}

.macos7.web-desktop-window > .center-container > .bottom-border-container {
	display: none;
	/* outline: 2px solid #000; */
	/* height: 22px; */
}


.macos7.web-desktop-window > .center-container > .body-scroll-and-resize {
	overflow: hidden;
}

.macos7.web-desktop-window > .center-container > .body-scroll-and-resize > .body-rightscroll {
	overflow: hidden;
	height: calc(100% - 24px);
	width: 100%;
}

.macos7.web-desktop-window > .center-container > .body-scroll-and-resize > .body-rightscroll > .body-container {
	overflow: hidden;
	float: left;
	height: 100%;
	width: calc(100% - 24px);
}

.macos7.web-desktop-window > .center-container > .body-scroll-and-resize > .body-rightscroll > .right-scrollbar {
	overflow: hidden;
	float: left;
	border-left: 2px solid #000;
	width: 22px;
	height: 100%;
}

.macos7.web-desktop-window > .center-container > .body-scroll-and-resize > .bottom-scrollbar {
	overflow: hidden;
	border-top: 2px solid #000;
	float: left;
	height: 22px;
	width: calc(100% - 24px);
}

.macos7.web-desktop-window > .center-container > .body-scroll-and-resize > .macresizebtn {
	float: right;
	width: 22px;
	height: 22px;
	border-top: 2px solid #000;
	border-left: 2px solid #000;
	background-image: url( '../icons/mac7.png' );
	background-repeat: no-repeat;
	background-position: 0px -44px;
}

.macos7.web-desktop-window > .right-border-container {
	display: none;
}

/* .macos7.web-desktop-window > .right-border-container > .right-bottom-border-box { */
/* 	background-image: url( '../icons/mac7.png' ); */
/* 	background-repeat: no-repeat; */
/* 	background-position: 0px -44px; */
/* 	/\* border-top: 2px solid #000; *\/ */
/* 	/\* outline: 2px solid #000; *\/ */
/* 	height: 22px!important; */
/* 	width: 22px!important; */
/* } */

.macos7.web-desktop-window > .right-border-container > .right-bottom-border-box.window-control-m-down {
	background-position: 0px -66px;
}

.macos7.web-desktop-window > .center-container > .title-container .window-title-control {
	border: 2px solid #eee;
	background-image: url( '../icons/mac7.png' );
	background-color: #fff;;
	background-repeat: no-repeat;
	height: 22px;
	width: 22px;
}

.macos7.web-desktop-window > .center-container > .title-container .window-close-btn {
	background-position: 0px 0px;
}

.macos7.web-desktop-window > .center-container > .title-container .window-macrestore-btn {
	background-position: 0px -22px;
}

.macos7.web-desktop-window > .center-container > .title-container .window-title-control.window-control-m-down {
	background-position: 0px -66px;
}

/*** TITLE ***/

.macos7.web-desktop-window > .center-container > .title-container {
	background-color: #fff;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	cursor: default;
	outline: 1px solid #000;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.macos7.web-desktop-window.hasfocus > .center-container > .title-container {
	background-color: #eee;
	background-image: url('../icons/mac7.png');
	background-position: 0px -88px;
	backgournd-repeat: repeat-x;
	border-top: 2px solid #ccf;
	border-left: 2px solid #ccf;
	border-right: 2px solid #99c;
	border-bottom: 2px solid #99c;
}

.macos7.web-desktop-window > .center-container > .title-container .title-left-controls {
	visibility: hidden;
	float: left;
	overflow: hidden;
	padding: 2px 0 2px 8px;
	
}

.macos7.web-desktop-window > .center-container > .title-container .title-right-controls {
	visibility: hidden;
	float: right;
	overflow: hidden;
	padding: 2px 8px 2px 0;
}


.macos7.web-desktop-window.hasfocus > .center-container > .title-container .title-left-controls,
.macos7.web-desktop-window.hasfocus > .center-container > .title-container .title-right-controls{
	visibility: visible;
}

.macos7.web-desktop-window > .center-container > .title-container .title-center {
	overflow: hidden;
	float: left;
	text-align: center;
	color: #bbb;
	font-weight: bold;
}

.macos7.web-desktop-window.hasfocus > .center-container > .title-container .title-center > span {
	display: inline-block;
	padding: 0px 12px;
	height: 30px;
	color: #000;
	background-color: #eee;
}
