body {
	--lvzwebdesktop-default-theme: w7;
	--lvzwebdesktop-theme-w7: true;
}

/* ### WINDOW ### */

.w7.web-desktop-window {
	background-color : rgba(127,127,256,0.5);
	--button-layout: menu:minimize,maximizeRestore,close;
	overflow: hidden;
	z-index: 8;

	border: 1px solid #57616a;
	backdrop-filter: blur(5px);
	border-radius: 10px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

.w7.web-desktop-window.hasfocus {
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);
}

.w7.web-desktop-window .body-container {
	overflow: auto;
	border: 1px solid #57616a;
	background-color: #fff;
}

.w7.web-desktop-window > .left-border-container {
	overflow: hidden;
	float: left;
}

.w7.web-desktop-window > .left-border-container > .left-top-border-box {
	overflow: hidden;
	cursor: nw-resize;
	width: 5px;
	height: 5px;
}

.w7.web-desktop-window  > .left-border-container > .left-border-top-corner {
    overflow: hidden;
    cursor: nw-resize;
    width: 5px;
    height: 25px;
}

.w7.web-desktop-window  > .left-border-container >  .left-border-center {
	overflow: hidden;
	cursor: w-resize;
	width: 5px;
}

.w7.web-desktop-window > .left-border-container > .left-border-bottom-corner {
    overflow: hidden;
    cursor: sw-resize;
    width: 5px;
    height: 25px;
}

.w7.web-desktop-window > .left-border-container > .left-bottom-border-box {
	overflow: hidden;
	cursor: sw-resize;
	width: 5px;
	height: 5px;
}

.w7.web-desktop-window > .center-container {
	overflow: hidden;
	float: left;
}

.w7.web-desktop-window > .center-container > .top-border-container {
	overflow: hidden;
}

.w7.web-desktop-window > .center-container > .top-border-container > .top-border-left-corner {
	overflow: hidden;
	float: left;
	cursor: nw-resize;
	width: 25px;
	height: 5px;
}

.w7.web-desktop-window > .center-container > .top-border-container > .top-border-center {
	overflow: hidden;
	float: left;
	cursor: n-resize;
	height: 5px;
}

.w7.web-desktop-window > .center-container > .top-border-container > .top-border-right-corner {
	overflow: hidden;
	float: right;
	cursor: ne-resize;
	width: 25px;
	height: 5px;
}

.w7.web-desktop-window > .center-container > .bottom-border-container {
	overflow: hidden;
}

.w7.web-desktop-window > .center-container > .bottom-border-container > .bottom-border-left-corner {
	overflow: hidden;
	float: left;
	cursor: sw-resize;
	width: 25px;
	height: 5px;
}

.w7.web-desktop-window > .center-container > .bottom-border-container > .bottom-border-center {
	overflow: hidden;
	float: left;
	cursor: s-resize;
	height: 5px;
}

.w7.web-desktop-window > .center-container > .bottom-border-container > .bottom-border-right-conrner {
	overflow: hidden;
	float: right;
	cursor: se-resize;
	width: 25px;
	height: 5px;
}

.w7.web-desktop-window > .right-border-container {
	overflow: hidden;
	float: right;
}

.w7.web-desktop-window > .right-border-container > .right-top-border-box {
	overflow: hidden;
	cursor: ne-resize;
	width: 5px;
	height: 5px;
}

.w7.web-desktop-window > .right-border-container > .right-top-border-corner {
	overflow: hidden;
	cursor: ne-resize;
	width: 5px;
	height: 25px;
}

.w7.web-desktop-window > .right-border-container > .right-border-center {
	overflow: hidden;
	cursor: e-resize;
	width: 5px;
}

.w7.web-desktop-window > .right-border-container > .right-border-bottom-corner {
	overflow: hidden;
	cursor: se-resize;
	width: 5px;
	height: 25px;
}

.w7.web-desktop-window > .right-border-container > .right-bottom-border-box {
	overflow: hidden;
	cursor: se-resize;
	width: 5px;
	height: 5px;
}

.w7 .window-title-control {
	background-image: none;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
	border-bottom: 1px solid #57616a;
	border-left: 1px solid #57616a;
	box-shadow: 0px 0px 1px 0px #fff inset;
	height: 18px;
	width: 25px;
}

.w7 .window-title-control:hover,
.w7 .window-title-control.window-control-m-down {
	box-shadow:
	0px 0px 1px 0px #fff inset,
	0px -5px 5px -1px rgba(255,255,255,0.5) inset,
	0px 8px 2px 0px rgba(255,255,255,0.5) inset
	;
	
}

.w7 .window-title-control.window-control-m-down {
	background-color: #7b8c9f;
	box-shadow:
	0px 0px 1px 0px #fff inset,
	0px -5px 5px -1px rgba(255,255,255,0.5) inset,
	0px 8px 2px 0px rgba(255,255,255,0.5) inset
	;
	
}

.w7 .window-title-control:last-child {
	border-radius: 0 0 5px 0;
	border-right: 1px solid #57616a;
}

.w7 .window-title-control:first-child {
	border-radius: 0 0 0 5px;
	border-right: 0px none;
}

.w7 .window-title-control:only-child {
	border-radius: 0 0 5px 5px;
	border-right: 1px solid #57616a;
	border-left: 1px solid #57616a;
}

.w7 .window-close-btn {
	background-image: url( '../icons/w7Close.png' );
	width: 45px;
}

.w7 .window-close-btn:hover {
	background-color: #c00000;
}

.w7 .window-close-btn.window-control-m-down {
	background-color: #a00000;
}

.w7 .window-minimize-btn {
	background-image: url( '../icons/w7Minimize.png' );
}

.w7 .window-maximize-btn {
	background-image: url( '../icons/w7Maximize.png' );
}

.w7 .window-restore-btn {
	background-image: url( '../icons/w7Restore.png' );
}

.w7 .window-menu-btn {
	--double-click: "this.close();";
	background-image: none !important;
	background-color: transparent !important;
	box-shadow: none !important;
	border: none !important;
}

/*** TITLE ***/

.w7 .title-container {
	color: #000;
	text-shadow: 0px 0px 4px #fff, 0px 0px 4px #fff, 0px 0px 4px #fff;
	height: 25px;
	padding: 2px;
	line-height: 14px;
	overflow: hidden;
	cursor: default;
}

.w7.web-desktop-window.hasfocus .title-container {
	color: #000;
	text-shadow: 0px 0px 4px #fff, 0px 0px 4px #fff, 0px 0px 4px #fff;
}

.w7 .title-left-controls {
	position: absolute;
	top: 0px;
	left: 10px;
	overflow: hidden;
}

.w7 .title-right-controls {
	position: absolute;
	top: 0px;
	right: 10px;
	overflow: hidden;
}

.w7 .title-center {
	overflow: hidden;
	margin-left: 10px;
	text-align: left;
	font-size: 14px;
	font-family: Tahome, Genveva, sans-serif;
	font-weight: normal;
}

/*** LEFT BORDER ***/
.web-desktop.window > .left-border-container {
	overflow: hidden;
	float: left;
}

.w7.web-desktop-window > .left-border-container > .left-top-border-box,
.w7.web-desktop-window > .left-border-container > .left-bottom-border-box {
	width: 0px;
}

.web-desktop.window > .right-border-container {
	overflow: hidden;
	float: right;
}

.w7.web-desktop-window > .right-border-container > .right-top-border-box,
.w7.web-desktop-window > .right-border-container > .right-bottom-border-box {
	width: 0px;
}
