body {
	--lvzwebdesktop-default-theme: w20;
	--lvzwebdesktop-theme-w20: true;
}

/* ### WINDOW ### */

.w20.web-desktop-window {
	background-color : #fff;
	--button-layout: menu:minimize,maximizeRestore;
	--change-menu-icon: no;
	overflow: hidden;
	z-index: 8;
	border: 1px solid #000;

	--border-width: 5px;
	--border-weight: 1px;
	--border-corner-width: 25px;
	--border-corner-height: 20px;
}

.w20.web-desktop-window .body-container {
	overflow: auto;
	background-color : #fff;
}

.w20.web-desktop-window > .left-border-container {
	overflow: hidden;
	float: left;
	background-image: url('../icons/w2-border.png' );
}

.w20.web-desktop-window > .left-border-container > .left-top-border-box {
	overflow: hidden;
	cursor: nw-resize;
	width: 4px;
	height: 4px;
}

.w20.web-desktop-window  > .left-border-container > .left-border-top-corner {
    overflow: hidden;
    cursor: nw-resize;
    border-right: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 4px;
    height: 20px;
}

.w20.web-desktop-window  > .left-border-container >  .left-border-center {
	overflow: hidden;
	cursor: w-resize;
	border-right: 1px solid rgb(0, 0, 0);
	width: 4px;
}

.w20.web-desktop-window > .left-border-container > .left-border-bottom-corner {
    overflow: hidden;
    cursor: sw-resize;
    border-top: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    width: 4px;
    height: 25px;
}

.w20.web-desktop-window > .left-border-container > .left-bottom-border-box {
	overflow: hidden;
	cursor: sw-resize;
	width: 4px;
	height: 4px;
}

.w20.web-desktop-window > .center-container {
	overflow: hidden;
	float: left;
}

.w20.web-desktop-window > .center-container > .top-border-container {
	overflow: hidden;
	background-image: url('../icons/w2-border.png' );
}

.w20.web-desktop-window > .center-container > .top-border-container > .top-border-left-corner {
	overflow: hidden;
	float: left;
	cursor: nw-resize;
	border-right: 1px solid rgb(0, 0, 0);
	border-bottom: 1px solid rgb(0, 0, 0);
	width: 25px;
	height: 4px;
}

.w20.web-desktop-window > .center-container > .top-border-container > .top-border-center {
	overflow: hidden;
	float: left;
	cursor: n-resize;
	border-bottom: 1px solid rgb(0, 0, 0);
	height: 4px;
}

.w20.web-desktop-window > .center-container > .top-border-container > .top-border-right-corner {
	overflow: hidden;
	float: right;
	cursor: ne-resize;
	border-left: 1px solid rgb(0, 0, 0);
	border-bottom: 1px solid rgb(0, 0, 0);
	width: 25px;
	height: 4px;
}

.w20.web-desktop-window > .center-container > .bottom-border-container {
	overflow: hidden;
	background-image: url('../icons/w2-border.png' );
}

.w20.web-desktop-window > .center-container > .bottom-border-container > .bottom-border-left-corner {
	overflow: hidden;
	float: left;
	cursor: sw-resize;
	border-right: 1px solid rgb(0, 0, 0);
	border-top: 1px solid rgb(0, 0, 0);
	width: 25px;
	height: 4px;
}

.w20.web-desktop-window > .center-container > .bottom-border-container > .bottom-border-center {
	overflow: hidden;
	float: left;
	cursor: s-resize;
	border-top: 1px solid rgb(0, 0, 0);
	height: 4px;
}

.w20.web-desktop-window > .center-container > .bottom-border-container > .bottom-border-right-conrner {
	overflow: hidden;
	float: right;
	cursor: se-resize;
	border-left: 1px solid rgb(0, 0, 0);
	border-top: 1px solid rgb(0, 0, 0);
	width: 25px;
	height: 4px;
}

.w20.web-desktop-window > .right-border-container {
	overflow: hidden;
	float: right;
	background-image: url('../icons/w2-border.png' );
}

.w20.web-desktop-window > .right-border-container > .right-top-border-box {
	overflow: hidden;
	cursor: ne-resize;
	width: 4px;
	height: 4px;
}

.w20.web-desktop-window > .right-border-container > .right-top-border-corner {
	overflow: hidden;
	cursor: ne-resize;
	border-left: 1px solid rgb(0, 0, 0);
	border-bottom: 1px solid rgb(0, 0, 0);
	width: 4px;
	height: 25px;
}

.w20.web-desktop-window > .right-border-container > .right-border-center {
	overflow: hidden;
	cursor: e-resize;
	border-left: 1px solid rgb(0, 0, 0);
	width: 4px;
}

.w20.web-desktop-window > .right-border-container > .right-border-bottom-corner {
	overflow: hidden;
	cursor: se-resize;
	border-top: 1px solid rgb(0, 0, 0);
	border-left: 1px solid rgb(0, 0, 0);
	width: 4px;
	height: 25px;
}

.w20.web-desktop-window > .right-border-container > .right-bottom-border-box {
	overflow: hidden;
	cursor: se-resize;
	width: 4px;
	height: 4px;
}

.w20 .window-title-control {
	border: 0px none;
	border-left: 1px solid #000;
	background-image: url( '../icons/w2.png' );
	background-color: #fff;
	background-repeat: no-repeat;
	height: 19px;
	width: 25px;
}

.w20 .title-left-controls > .window-title-control:first-child {
	border-left: 0px none;
}

.w20 .title-left-controls > .window-title-control:last-child {
	border-right: 1px solid #000;
}

.w20 .window-title-control.window-control-m-down {
	background-color: #000;
}

.w20 .window-menu-btn {
	--double-click: "this.close();";
	background-position: 0px 0px;
}

.w20 .window-menu-btn.window-control-m-down {
	background-position: 0px -19px;
}

.w20 .window-minimize-btn {
	background-position: 0px -38px;
}

.w20 .window-minimize-btn.window-control-m-down {
	background-position: 0px -57px;
}

.w20 .window-maximize-btn {
	background-position: 0px -76px;
}

.w20 .window-maximize-btn.window-control-m-down {
	background-position: 0px -95px;
}

.w20 .window-restore-btn {
	background-position: 0px -114px;
}

.w20 .window-restore-btn.window-control-m-down {
	background-position: 0px -133px;
}

/*** TITLE ***/

.w20 .title-container {
	background-color: #fff;
	height: 19px;
	line-height: 19px;
	overflow: hidden;
	border-bottom: 1px solid #000;
	cursor: default;
}

.w20.web-desktop-window.hasfocus .title-container {
	background-color: #5555ff;
}

.w20 .title-left-controls {
	float: left;
	overflow: hidden;
}

.w20 .title-right-controls {
	float: right;
	overflow: hidden;
}

.w20 .title-center {
	color: #fff;
	overflow: hidden;
	text-align: center;
	font-weight: bold;
}

.w20 .title-center > span {
	background-color: #000;
}

/*** LEFT BORDER ***/
.w20.web-desktop.window > .left-border-container {
	overflow: hidden;
	float: left;
}

.w20.web-desktop.window > .right-border-container {
	overflow: hidden;
	float: right;
}
