body {
	--lvzwebdesktop-default-scrollbar-theme: test;
	--lvzwebdesktop-theme-scrollbar-test: true;

	--lvzwebdesktop-default-button-theme: test;
	--lvzwebdesktop-theme-button-test: true;

	--lvzwebdesktop-default-textbox-theme: test;
	--lvzwebdesktop-theme-textbox-test: true;

	--lvzwebdesktop-default-label-theme: test;
	--lvzwebdesktop-theme-label-test: true;

	--lvzwebdesktop-default-checkbox-theme: test;
	--lvzwebdesktop-theme-checkbox-test: true;

	--lvzwebdesktop-default-fieldset-theme: test;
	--lvzwebdesktop-theme-fieldset-test: true;

	--lvzwebdesktop-default-radio-theme: test;
	--lvzwebdesktop-theme-radio-test: true;

	--lvzwebdesktop-default-radiogroup-theme: test;
	--lvzwebdesktop-theme-radiogroup-test: true;

	--lvzwebdesktop-default-timer-theme: test;
	--lvzwebdesktop-theme-timer-test: true;

	--lvzwebdesktop-default-table-theme: test;
	--lvzwebdesktop-theme-table-test: true;

	--lvzwebdesktop-default-tablecell-theme: test;
	--lvzwebdesktop-theme-tablecell-test: true;

	--lvzwebdesktop-default-tabbar-theme: test;
	--lvzwebdesktop-theme-tabbar-test: true;

	--lvzwebdesktop-default-listbox-theme: test;
	--lvzwebdesktop-theme-listbox-test: true;
}

.web-desktop-scrollbar {
	display: block;
	overflow: hidden;
	background-color: #aaa;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.web-desktop-scrollbar .wd-sbutton {
	display: block;
	overflow: hidden;
	width: 18px;
	height: 18px;
	border-width: 1px;
	border-style: solid;
	border-color: #000;
	border-top-color: #ddd;
	border-left-color: #ddd;
	text-align: center;
	line-height: 18px;
}
.web-desktop-scrollbar.wd-vertical {
	width: 20px;
}

.web-desktop-scrollbar.wd-horizontal {
	height: 20px;
}

.web-desktop-scrollbar.wd-vertical .wd-decrease::after { content: "↑"; }
.web-desktop-scrollbar.wd-vertical .wd-increase::after { content: "↓"; }
.web-desktop-scrollbar.wd-horizontal .wd-decrease::after { content: "←"; }
.web-desktop-scrollbar.wd-horizontal .wd-increase::after { content: "→"; }

.web-desktop-scrollbar *:hover { background-color: #bbb; }

.web-desktop-scrollbar *:active { background-color: #999; }

.web-desktop-scrollbar.wd-horizontal * {
	float: left;
}

.wd-radio {
	display: block;
}

.wd-label {
	display: block;
}

.visual-editor .wd-label {
	background-color: #ccc;
	min-width: 50px;
	min-height: 20px;
}

.wd-table {
	background-color: #fff;
	padding: 0;
	border-collapse: collapse;
	overflow: hidden;
}

.wd-table > tr {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.wd-table > tr > td {
	padding: 0;
	margin: 0;
	border: 1px solid #aaa;	
	height: 20px;
	min-width: 50px;
	max-width: 100px;
	cursor: text;
	overflow: hidden;
}

.wd-table-input {
	display: block;
	width: calc(100% - 6px);
	height: 100%;
	padding: 0px;
	margin: 0px;
}

.wd-table-check {
	display: block;
	float: left;
	width: 20px;
	padding: 0px;
	margin: 0px;
}

.wd-table-check + * {
	float: left;
	width: calc(100% - 26px) !important;
	padding: 0px;
	margin: 0px;
}

.wd-table-list {
	display: block;
	width: 100%
}


.visual-editor .wd-radio-group {
	background-color: #bbb;
	min-width: 50px;
	min-height: 20px;
}

/**** Rules for the tabbar elements. ****/
.wd-tabbar {
	display: block;
	overflow: hidden;
	border: 1px solid #000;
}

.wd-tabbar-label-container {
	display: block;
	overflow: hidden;
}

.wd-tabbar-body-container {
	display: block;
	overflow: hidden;
}

.wd-tab {display: none;}

.wd-tab-label {
	display: block;
	overflow: hidden;
	float: left;
	padding: 2px 4px;
	background-color: #aaa;
	border-top: 2px solid #666;
	border-left: 2px solid #666;
	border-right: 2px solid #666;
	border-radius: 6px 6px 0 0;
	cursor: pointer;
}

.wd-tab-label.active {
	background-color: #ccc;
	border-top-color: #eee;
	border-left-color: #ddd;
}

.wd-tab-body {
	display: none;
	overflow: hidden;
	border: 2px solid #666;
	background-color: #aaa;
}

.wd-tab-body.active {
	display: block;
}
