.touch-circle {
	background-color: #069;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	position: absolute;
	z-index: 1100;
}

.touch-circle.NW-resize { cursor: nw-resize; }
.touch-circle.N-resize { cursor: n-resize; }
.touch-circle.NE-resize { cursor: ne-resize; }

.touch-circle.W-resize { cursor: w-resize; }
.touch-circle.E-resize { cursor: e-resize; }

.touch-circle.SW-resize { cursor: sw-resize; }
.touch-circle.S-resize { cursor: s-resize; }
.touch-circle.SE-resize { cursor: se-resize; }

/* ### WINDOW ### */

.web-desktop-window {
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.6);
	background-color : #ddd;
	--button-layout : menu:minimize,maximizeRestore,close;
	overflow: hidden;
	z-index: 8;
	border: 1px solid rgb(255, 0, 0);
}

.web-desktop-window.hasfocus {
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);
}

.web-desktop-window .body-container {
	overflow: auto;
}

.web-desktop-window > .left-border-container {
	overflow: hidden;
	float: left;
}

.web-desktop-window > .left-border-container > .left-top-border-box {
	overflow: hidden;
	cursor: nw-resize;
	background-color: rgb(221, 221, 221);
	width: 5px;
	height: 5px;
}

.web-desktop-window  > .left-border-container > .left-border-top-corner {
    overflow: hidden;
    cursor: nw-resize;
    background-color: rgb(221, 221, 221);
    border-right: 1px solid rgb(255, 0, 0);
    border-bottom: 1px solid rgb(255, 0, 0);
    width: 5px;
    height: 20px;
}

.web-desktop-window  > .left-border-container >  .left-border-center {
	overflow: hidden;
	cursor: w-resize;
	background-color: rgb(221, 221, 221);
	border-right: 1px solid rgb(255, 0, 0);
	width: 5px;
}

.web-desktop-window > .left-border-container > .left-border-bottom-corner {
    overflow: hidden;
    cursor: sw-resize;
    background-color: rgb(221, 221, 221);
    border-top: 1px solid rgb(255, 0, 0);
    border-right: 1px solid rgb(255, 0, 0);
    width: 5px;
    height: 20px;
}

.web-desktop-window > .left-border-container > .left-bottom-border-box {
	overflow: hidden;
	cursor: sw-resize;
	background-color: rgb(221, 221, 221);
	width: 5px;
	height: 5px;
}

.web-desktop-window > .center-container {
	overflow: hidden;
	float: left;
}

.web-desktop-window > .center-container > .top-border-container {
	overflow: hidden;
}

.web-desktop-window > .center-container > .top-border-container > .top-border-left-corner {
	overflow: hidden;
	float: left;
	cursor: nw-resize;
	background-color: rgb(221, 221, 221);
	border-right: 1px solid rgb(255, 0, 0);
	border-bottom: 1px solid rgb(255, 0, 0);
	width: 20px;
	height: 5px;
}

.web-desktop-window > .center-container > .top-border-container > .top-border-center {
	overflow: hidden;
	float: left;
	cursor: n-resize;
	background-color: rgb(221, 221, 221);
	border-bottom: 1px solid rgb(255, 0, 0);
	height: 5px;
}

.web-desktop-window > .center-container > .top-border-container > .top-border-right-corner {
	overflow: hidden;
	float: right;
	cursor: ne-resize;
	background-color: rgb(221, 221, 221);
	border-left: 1px solid rgb(255, 0, 0);
	border-bottom: 1px solid rgb(255, 0, 0);
	width: 20px;
	height: 5px;
}

.web-desktop-window > .center-container > .bottom-border-container {
	overflow: hidden;
}

.web-desktop-window > .center-container > .bottom-border-container > .bottom-border-left-corner {
	overflow: hidden;
	float: left;
	cursor: sw-resize;
	background-color: rgb(221, 221, 221);
	border-right: 1px solid rgb(255, 0, 0);
	border-top: 1px solid rgb(255, 0, 0);
	width: 20px;
	height: 5px;
}

.web-desktop-window > .center-container > .bottom-border-container > .bottom-border-center {
	overflow: hidden;
	float: left;
	cursor: s-resize;
	background-color: rgb(221, 221, 221);
	border-top: 1px solid rgb(255, 0, 0);
	height: 5px;
}

.web-desktop-window > .center-container > .bottom-border-container > .bottom-border-right-conrner {
	overflow: hidden;
	float: right;
	cursor: se-resize;
	background-color: rgb(221, 221, 221);
	border-left: 1px solid rgb(255, 0, 0);
	border-top: 1px solid rgb(255, 0, 0);
	width: 20px;
	height: 5px;
}

.web-desktop-window > .right-border-container {
	overflow: hidden;
	float: right;
}

.web-desktop-window > .right-border-container > .right-top-border-box {
	overflow: hidden;
	cursor: ne-resize;
	background-color: rgb(221, 221, 221);
	width: 5px;
	height: 5px;
}

.web-desktop-window > .right-border-container > .right-top-border-corner {
	overflow: hidden;
	cursor: ne-resize;
	background-color: rgb(221, 221, 221);
	border-left: 1px solid rgb(255, 0, 0);
	border-bottom: 1px solid rgb(255, 0, 0);
	width: 5px;
	height: 20px;
}

.web-desktop-window > .right-border-container > .right-border-center {
	overflow: hidden;
	cursor: e-resize;
	background-color: rgb(221, 221, 221);
	border-left: 1px solid rgb(255, 0, 0);
	width: 5px;
}

.web-desktop-window > .right-border-container > .right-border-bottom-corner {
	overflow: hidden;
	cursor: se-resize;
	background-color: rgb(221, 221, 221);
	border-top: 1px solid rgb(255, 0, 0);
	border-left: 1px solid rgb(255, 0, 0);
	width: 5px;
	height: 20px;
}

.web-desktop-window > .right-border-container > .right-bottom-border-box {
	overflow: hidden;
	cursor: se-resize;
	background-color: rgb(221, 221, 221);
	width: 5px;
	height: 5px;
}

.window-title-control {
	border-width: 2px;
	border-style: solid;
	border-top-color: #fff;
	border-left-color: #fff;
	border-right-color: #aaa;
	border-bottom-color: #aaa;
	background-image: url( 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAACgCAYAAAAM0kxuAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH5AUHERIP4Zng+AAAANJJREFUaN7tmEEOwzAIBEnlT/D/h9JL1EOUxAavrEqeuRZWTqGeqGbbE2bmiXo/e7oFnghzRaFnn+atwQtfzWNjOewuYDrsGjoU9lm9l9JHlg5FujbSxZb/9OSXA+AUnIJTcApOwSnwzHGzNpn6IUlVPvvRqo3LTii/YFvyRNEbVJucasyuzdQqRaVGPpQNA5tgMIBTcApOwSk4BafAIqekL4hKYPyNU4Z6uL4I3MYpeARwCk4hkECcAgCw0+tc9d3nqB6g+zdqE4UCAABOwSnzfAGknG0hY58idAAAAABJRU5ErkJggg==' );
	background-color: #ddd;
	background-repeat: no-repeat;
	height: 21px;
	width: 20px;
}

.window-menu-btn {
	background-image: none;
}

.window-close-btn {
	background-position: 0px 0px;
}

.window-minimize-btn {
	background-position: 0px -120px;
}

.window-maximize-btn {
	background-position: 0px -80px;
}

.window-restore-btn {
	background-position: 0px -40px;
}

div.window-title-control:active {
	border-color: #aaa;
	border-top-color: #aaa;
	border-left-color: #aaa;
	border-right-color: #aaa;
	border-bottom-color: #aaa;
}

/*** TITLE ***/
.title-container {
	background-color: #0af;
	height: 25px;
	line-height: 25px;
	overflow: hidden;
	cursor: default;
}

.title-left-controls {
	float: left;
	overflow: hidden;
}

.title-right-controls {
	float: right;
	overflow: hidden;
}

.title-center {
	overflow: hidden;
	float: left;
	text-align: center;
	color: #fff;
	font-weight: bold;
}

/*** LEFT BORDER ***/
.web-desktop.window > .left-border-container {
	overflow: hidden;
	float: left;
}

.web-desktop-window > .left-border-container > .left-top-border-box,
.web-desktop-window > .left-border-container > .left-bottom-border-box {
	background-color: #ddd;
	width: 0px;
	border-left: 1px solid #ddd;
}

.web-desktop.window > .right-border-container {
	overflow: hidden;
	float: right;
}

.web-desktop-window > .right-border-container > .right-top-border-box,
.web-desktop-window > .right-border-container > .right-bottom-border-box {
	background-color: #ddd;
	width: 0px;
	border-right: 1px solid #ddd;
}

.web-desktop-vail {
	position: absolute;
	display: none;
	z-index: 1000;
	background-color: rgba(0,0,0,0.3);
}

/** All items that need to disable selection **/
.web-desktop-menu,
.web-desktop-window .title-container,
.web-desktop-taskbar,
.web-desktop-panel,
.touch-circle,
.web-desktop-icon
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
