body {
	--lvzwebdesktop-default-icon-theme: test;
	--lvzwebdesktop-theme-icon-test: true;
}

.test.web-desktop-iconarea {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
}

.body-container > .test.web-desktop-iconarea {
	width: calc(100% - 12px);
	height: calc(100% - 37px);
	/* background-color: #0f0; */
}

.test.web-desktop-iconarea > .web-desktop-selectionarea {
	position: absolute;
	border: 2px dotted #fa0;
	background-color: rgba( 0, 0 ,0, 0.4);
	display: none;
}

.web-desktop-window > .test.web-desktop-iconarea {
	width: calc(100% - 12px);
	height: calc(100% - 37px);
}

.test.web-desktop-icon {
	position: absolute;
	text-align: center;
	max-width: 120px;
}

.test.web-desktop-iconarea > .test.web-desktop-icon > div {
	border-radius: 5px;
	padding: 2px;
	color: #222;
	/* background-color: #ddd; */
}

.test.web-desktop-iconarea > .test.web-desktop-icon.selected > div {
	color: #fff;
	background-color: #069;
}

.desktop > .test.web-desktop-iconarea > .test.web-desktop-icon > div {
	border-radius: 5px;
	padding: 2px;
	color: #fff;
	/* background-color: #069; */
}

.desktop > .test.web-desktop-iconarea > .test.web-desktop-icon.selected > div {
	color: #222;
	background-color: #ddd;
}

.test.web-desktop-iconarea > .test.web-desktop-icon > input[type="text"] {
	display: block;
	border: none;
	background: trasparent;
	padding: 2px;
	border-radius: 5px;
	min-width: 50px;
	max-width: 120px;
	text-align: center;
}
