body {
	--lvzwebdesktop-default-toolbar-theme: test;
	--lvzwebdesktop-theme-toolbar-test: true;
}

.web-desktop-toolbar {
	display: block;
	/* display: flex; */
	/* flex-direction: row; */
	/* flex-wrap: nowrap; */
	white-space: nowrap;
	overflow: hidden;
	min-height: 20px;
	line-height: 20px;
	background-color: #aaa; /* Temporary */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.wd-toolbar-body {
	width: calc(100% - 20px);
	float: left;
	display: block;
	white-space: wowrap;
	overflow: hidden;
	min-height: 20px;
	line-height: 20px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.wd-toolbar-left > .wd-toolbar-body > *, .wd-toolbar-right > .wd-toolbar-body > *{
	float: left;
}

.wd-toolbar-showhidden-btn {
	display: none;
	height: 20px;
	width: 10px;
	border: 1px solid #000;
	float: right;
}

.wd-toolbar-showhidden-btn:before {
	font-size: 12px;
	content: ">>";
}

.wd-toolbar-showhidden-items {
	display: none;
}

.wd-toolbar-group {
	display: inline-block;
	overflow: hidden;
	border: 1px solid #000; /* Temporary */
	margin: 2px;
	z-index: 20;
}

.wd-toolbar-group-grab { display: none; }

.test.wd-toolbar-editable .wd-toolbar-group > .wd-toolbar-group-grab,
.wd-toolbar-group.moving > .wd-toolbar-group-grab {
	display: block;
	overflow: hidden;
	float: left;
	width: 3px;
	height: 17px;
	padding: 4px;
	cursor: grab;
}

.wd-toolbar-group.moving > .wd-toolbar-group-grab {
	cursor: grabbing;
}

.test.wd-toolbar-editable .wd-toolbar-group > .wd-toolbar-group-grab + * {
	display: block;
	float: right;
}

.wd-toolbar-group-grab::after {
	content: "፧";
}

.wd-toolbar-square-button {
	display: inline-block;
	overflow: hidden;
	width: 20px;
	height: 20px;
}

.wd_toolbar_group_position {
	overflow: hidden;
	background-color: #666;
}
