body {
	--lvzwebdesktop-default-taskbar-theme: test;
	--lvzwebdesktop-theme-taskbar-test: true;
}

.test.web-desktop-taskbar {
	overflow: hidden;
	background-color: #222;
	padding: 2px;
}

.test.web-desktop-taskbar > .taskbtn {
	display: inline-block;
	cursor: default;
	overflow: hidden;
	height: 20px;
	min-width: 100px;
	margin: 1px;
	padding: 1px 4px;
	border-radius: 5px;
	background-color: #222;
	color: #eee;
}

.test.web-desktop-taskbar > .taskbtn:hover {
	background-color: #ddd;
	color: #555;
	box-shadow: -1px -1px 2px 0px #888 inset;
}

.test.web-desktop-taskbar > .taskbtn > .taskicon {
	float: left;
	height: 20px;
	width: 20px;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center center;
}

.test.web-desktop-taskbar > .taskbtn.focused {
	background-color: #ddd;
	color: #555;
	box-shadow: 0px 0px 3px 3px #888 inset;
}
