body {
	--lvzwebdesktop-default-panel-theme: test;
	--lvzwebdesktop-theme-panel-test: true;
}

.test.web-desktop-panel {
	position: absolute;
	display: block;
	background-color: #222;	
	overflow: hidden;
	z-index: 10;
}

.test.web-desktop-panel.top-orientation {
	top: 0px;
	height: 30px;
	width: 100%;
}

.test.web-desktop-panel.bottom-orientation {
	bottom: 0px;
	height: 30px;
	width: 100%;
}

.test.web-desktop-panel.left-orientation {
	width: 100%;
	height: 30px;
}

.test.web-desktop-panel.right-orientation {
	width: 100%;
	height: 30px;
}

.test.web-desktop-panel > div {
	position: relative;
	display: inline-block;
	overflow: hidden;
	border-left: 3px dotted #ddd;
	padding-left: 2px;
	height: 30px;
}

.test.web-desktop-panel.locked > div {
	border-left: 0px none;
	padding-left: 0;
}

