.wd-window-editor-container {
	display: table;
	border-spacing: 0;
	border-collapse: collapse;
}

.wd-window-editor-container > div {
	display: table-row;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.wd-window-editor-container > .wd-top-row-container {
	height: 8px;
	line-height: 8px;
}

.wd-window-editor-container > .wd-bottom-row-container {
	height: 8px;
	line-height: 8px;
}


.wd-window-editor-container > div > .wd-cell {
	display: table-cell;
	margin: 0;
	padding: 0;
}

.wd-window-editor-container > div > .wd-cell > .web-desktop-window {
	position: static !important;
	z-index: 0 !important;
}

.wd-resizebox {
	display: inline-block;
	background-color: #fff;
	border: 1px solid #000;
	margin: 0;
	padding: 0;
	width: 6px;
	height: 6px;
}

.wd-window-editor-container > div > .wd-cell > .wd-resizebox.wd-resize-topleft,
.wd-window-editor-container > div > .wd-cell > .wd-resizebox.wd-resize-topcenter,
.wd-window-editor-container > div > .wd-cell > .wd-resizebox.wd-resize-topright,
.wd-window-editor-container > div > .wd-cell > .wd-resizebox.wd-resize-midleft,
.wd-window-editor-container > div > .wd-cell > .wd-resizebox.wd-resize-topright,
.wd-window-editor-container > div > .wd-cell > .wd-resizebox.wd-resize-bottomleft
{
	cursor: default;
	background-color: #bbb;
}


.wd-window-editor-container > div > .wd-cell > .wd-resizebox.wd-resize-midright {
	cursor: e-resize;
}

.wd-window-editor-container > div > .wd-cell > .wd-resizebox.wd-resize-bottomright {
	cursor: se-resize;
}

.wd-window-editor-container > div > .wd-cell > .wd-resizebox.wd-resize-bottomcenter {
	cursor: s-resize;
}

.wd-window-editor-container > div > .wd-cell {
	vertical-align: middle;
}

.wd-visual-control > .wd-vc-vail {
	background-color: rgba(0,0,0,0.1);
}

.wd-visual-control.selected > .wd-vc-vail {
	background-color: rgba(0,0,128,0.5);
}
